.btn-circle{
	border-radius: 50%;
}
.navbar-mt4{
	background-color: #005066;
	border-radius: 0px;
	color: #fff;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.29), 0 6px 10px 0 rgba(0, 0, 0, 0.12);
	margin-bottom: 50px;
}
.navbar-header{
	padding: 10px;
}
.navbar-form{
	margin-top: 30px;
}
.modal-dialog{
	margin-top: 14%;
}
.form-pesquisa{
	background-color: rgba(255, 255, 255, 0);
	color: #fff;
}
.btn-mt4{
	background-color: #005066;
	color: #fff;
	border-color: #024d62;
}
.btn-mt4:hover, .btn-mt4:active, .btn-mt4:focus, .btn-mt4.active{
	background-color: #014052!important;
	color: #fff!important;
	border-color: #024d62!important;
}
.pg_ativo{
	background-color: #005066!important;
	color: #fff!important;
	border: 1px solid #024d62;
}
.pagination>li>a, .pagination>li>span {
	color: #005066;
}
.disabled{
	cursor: not-allowed;
}
tr:hover{
	background-color: #f0f0f0;
}